<h1 class="text-center">You In or What?</h1>

<section class="rsvp-view">

	<div class="rsvp-content-box">
		<h2>RSVP</h2>
		<div class="paragraph">
			Dear Charlene and Andrew,
		</div>
		<div class="paragraph">
			I, <span ng-model="blah" class="form-control inline madlib-text-input" placeholder="Your Full Name" contenteditable="true"></span> will
			<span uib-dropdown class="madlib-select-input">
				<span uib-dropdown-toggle class="btn">
					{{form.attending.value === null ? 'Select One' : form.attending.value}} <span class="caret"></span>
				</span>
				<ul uib-dropdown-menu>
					<li ng-repeat="option in form.attending.options">
						<a href="#" ng-click="form.attending.value = option">
							{{option}}
						</a>
					</li>
				</ul>
			</span>
    		attending your wedding on August 6th, 2016.
		</div>
		<div class="paragraph">
			When the party starts popping, I can't wait to see Charlene and Andrew do the chicken dance.
		</div>

		<div class="action-pane">
			<button class="submit">Deliver</button>
		</div>
	</div>

</section>