@import "variables.scss";
@import "utility.scss";

section.rsvp-view {
	background: url('/assets/imgs/rsvp-pattern.gif');
	background-repeat: repeat;

	overflow: auto;

	.rsvp-content-box {
		background: #FFF;
		margin: 50px auto;
		padding: 0 20px;
		width: 80%;
		overflow: auto;

		h2 {
			@include font-default;
			color: $default-text-color;
			text-align: center;
		}

		.paragraph {
			margin-bottom: 15px;
		}

		.action-pane {
			text-align: center;
			margin: 30px 0;
		}


		.madlib-input-style {
			border: none;
			border-bottom: 2px solid;
			border-radius: 0;
			box-shadow: none;
			color: $accent-color-1;
		}
		.madlib-text-input {
			@extend .madlib-input-style;
			min-width: 126px;
		}
		.madlib-select-input.dropdown {
			.dropdown-toggle {
				@extend .madlib-input-style;
				.caret {
					margin-left: 3px;
				}
			}
		}
	}
}