<span class="years countdown-part" ng-if="getTimeLeft('years') !== false">
	<span class="value">{{getTimeLeft('years').value}}</span>
	<span class="unit">{{getTimeLeft('years').unit}}</span>
</span>
<span class="months countdown-part" ng-if="getTimeLeft('months') !== false">
	<span class="value">{{getTimeLeft('months').value}}</span>
	<span class="unit">{{getTimeLeft('months').unit}}</span>
</span>
<span class="days countdown-part" ng-if="getTimeLeft('days') !== false">
	<span class="value">{{getTimeLeft('days').value}}</span>
	<span class="unit">{{getTimeLeft('days').unit}}</span>
</span>
<span class="hours countdown-part" ng-if="getTimeLeft('hours') !== false">
	<span class="value">{{getTimeLeft('hours').value}}</span>
	<span class="unit">{{getTimeLeft('hours').unit}}</span>
</span>
<span class="minutes countdown-part" ng-if="getTimeLeft('minutes') !== false">
	<span class="value">{{getTimeLeft('minutes').value}}</span>
	<span class="unit">{{getTimeLeft('minutes').unit}}</span>
</span>
<span class="seconds countdown-part" ng-if="getTimeLeft('seconds') !== false">
	<span class="value">{{getTimeLeft('seconds').value}}</span>
	<span class="unit">{{getTimeLeft('seconds').unit}}</span>
</span>
