<nav class="navbar">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="logo" href="/">
				C<small class="ampersand">&</small>A
			</a>
		</div>

		<ul class="nav navbar-nav pull-right">
			<li ui-sref-active="active">
				<a ui-sref="story">Our Story</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="wedding">The Wedding</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="rsvp">RSVP</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="registry">Registry</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="todo">To do</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="photos">Photos</a>
			</li>
		</ul>

	</div>
</nav>

