<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				C&A
			</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a ui-sref="story">Our Story</a>
				</li>
				<li>
					<a>The Wedding</a>
				</li>
				<li>
					<a ui-sref="rsvp">RSVP</a>
				</li>
				<li>
					<a>Registry</a>
				</li>
				<li>
					<a>To do / To eat</a>
				</li>
				<li>
					<a>Photos</a>
				</li>
				<li>
					<a>Photos</a>
				</li>
				<li>
					<a>#charwedandrew</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

