<section class="registry-view">

	<div class="jumbo" scale-to-fit-container>
		<img class="visible-md" src="assets/imgs/registry/banner.png" scale-to-fit="'1500:1000'" />
		<img class="visible-lg" src="assets/imgs/registry/banner.png" scale-to-fit="'1500:1000'" />
		<img class="hidden-md hidden-lg" src="assets/imgs/registry/banner.png" scale-to-fit="'1500:1000'" />
	</div>

	<h1 class="text-center">Registry</h1>

	<div class="registry-content-box">

		<p>Your presence at our Wedding is the greatest gift of all. However, if you wish to honour us with a gift, we have registered at Zola and Amazon</p>

		<table class="registry-list">

			<tr class="hidden-xs">
				<td>
					<a href="https://www.amazon.com/wedding/registry/2A7SUARJDJ2W9" target="_blank">
						<img class="registry-link" src="assets/imgs/registry/amazon.png" />
					</a>
				</td>
				<td>
					<a href="https://www.zola.com/registry/charleneandandrew" target="_blank">
						<img class="registry-link" src="assets/imgs/registry/zola.png" />
					</a>
				</td>
			</tr>

			<tr class="visible-xs">
				<td>
					<a href="https://www.amazon.com/wedding/registry/2A7SUARJDJ2W9" target="_blank">
						<img class="registry-link" src="assets/imgs/registry/amazon.png" />
					</a>
				</td>
			</tr>
			<tr class="visible-xs">
				<td>
					<a href="https://www.zola.com/registry/charleneandandrew" target="_blank">
						<img class="registry-link" src="assets/imgs/registry/zola.png" />
					</a>
				</td>
			</tr>

		</table>


	</div>

</section>