<section class="registry-view">

	<div class="jumbo" scale-to-fit-container>
		<img class="visible-md" src="assets/imgs/registry/banner.png" scale-to-fit="'1500:1000'" />
		<img class="visible-lg" src="assets/imgs/registry/banner.png" scale-to-fit="'1500:1000'" />
		<img class="hidden-md hidden-lg" src="assets/imgs/registry/banner.png" scale-to-fit="'1500:1000'" />
	</div>

	<div class="registry-content-box">

		<p>Your presence at our wedding is the greatest gift of all. However, if you wish to honour us with a gift, contributions to our honeymoon fund and other memorable experiences through Zola is highly appreciated. We also have a few household items registered at Amazon and Crate & Barrel.</p>

		<table class="registry-list">

			<!-- lg displays (can't reliably use visible-*-* for table elements) -->
			<tbody class="hidden-xs hidden-sm hidden-md">
				<tr>
					<td>
						<a href="https://www.amazon.com/wedding/registry/2A7SUARJDJ2W9" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/amazon.png" />
						</a>
					</td>
					<td>
						<a href="https://www.zola.com/registry/charleneandandrew" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/zola.png" />
						</a>
					</td>
					<td>
						<a href="http://www.crateandbarrel.com/gift-registry/charlene-leung/r5517535" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/crate-and-barrel.png" />
						</a>
					</td>
				</tr>
			</tbody>

			<!-- sm - md displays (can't reliably use visible-*-* for table elements) -->
			<tbody class="hidden-xs hidden-lg">
				<tr>
					<td>
						<a href="https://www.amazon.com/wedding/registry/2A7SUARJDJ2W9" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/amazon.png" />
						</a>
					</td>
					<td>
						<a href="https://www.zola.com/registry/charleneandandrew" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/zola.png" />
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<a href="http://www.crateandbarrel.com/gift-registry/charlene-leung/r5517535" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/crate-and-barrel.png" />
						</a>
					</td>
				</tr>
			</tbody>

			<!-- xs displays (can't reliably use visible-*-* for table elements) -->
			<tbody class="hidden-sm hidden-md hidden-lg">
				<tr>
					<td>
						<a href="https://www.amazon.com/wedding/registry/2A7SUARJDJ2W9" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/amazon.png" />
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="https://www.zola.com/registry/charleneandandrew" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/zola.png" />
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="http://www.crateandbarrel.com/gift-registry/charlene-leung/r5517535" target="_blank">
							<img class="registry-link" src="assets/imgs/registry/crate-and-barrel.png" />
						</a>
					</td>
				</tr>
			</tbody>

		</table>


	</div>

</section>