<section class="wedding-view">

	<div class="jumbo" scale-to-fit-container>
		<img src="assets/imgs/example-lg.jpg" scale-to-fit="'1125:750'" />
	</div>

	<div class="content">

		<p class="section-description">
			Before and after wedding, take the time to visit some great spots in the Los Angeles area. It's full of history, beauty, and good food.
		</p>

		<section class="sub-section row">
			<div class="col-sm-6 content-width">
				<div class="category-img">
					<img ng-src="{{category.img}}" />
				</div>
			</div>
			<div class="col-sm-6 content-width">
				<h2>Good Eats</h2>
				<div ng-repeat="place in places" place ng-model="place"></div>
			</div>
		</section>

	</div>


</section>