@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utility.scss";

section.wedding-view {

	.jumbo {
		height: 400px;
	}

	.content {
		position: relative;

		$category-img-diameter: 200px;
		.category-img {
			@include circleContainer();

			width: $category-img-diameter;
			height: $category-img-diameter;

			img {
				height: 100%;
			}
		}

	}
}