@import "variables.scss";
@import "utility.scss";

.photo {
	display: inline-block;
	position: relative;

	// self

	&.has-click-action {
		cursor: pointer;
	}

	// children

	img {
		width: 100%;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		// start off invisible
		opacity: 0;
		color: #FFF;

		&:hover {
			$duration: 0.2s;
			-webkit-transition: opacity $duration;
			transition: opacity $duration;
			background-color: rgba(0,0,0,0.5);
			opacity: 1;
		}
	}
}
