@import "variables.scss";
@import "utility.scss";


/**
 *	General
 */

body {

}


/**
 *	Typography
 */

.sweet-pea {
	font-family: 'sweet-pea';
	font-weight: normal;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2, h3 {
	@extend .sweet-pea;
}


/**
 *	Aspect ratios
 */

// .aspect-ratio-3-2
@include makeAspectRatioClass(3,2);
// .aspect-ratio-4-3
@include makeAspectRatioClass(4,3);
