@import "variables.scss";
@import "utility.scss";


/**
 *	General
 */

body {
	font-family: 'Merriweather', serif;
}

footer {
	height: 100px;
}


/**
 *	Typography
 */

.sweet-pea {
	font-family: 'sweet-pea';
	font-weight: normal;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}

h1, h2 {
	@extend .sweet-pea;
	color: $accentColor3;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}


/**
 *	Aspect ratios
 */

// .aspect-ratio-1-1
@include makeAspectRatioClass(1,1);
// .aspect-ratio-3-2
@include makeAspectRatioClass(3,2);
// .aspect-ratio-4-3
@include makeAspectRatioClass(4,3);


/**
 * General classes
 */

.section-description {
	margin-top: 50px;

	font-size: 18px;
	font-style: italic;
}