@import "variables.scss";
@import "utility.scss";


/**
 *	General
 */

body {
	font-family: 'Merriweather', serif;
}

footer {
	height: 100px;
}

section .section-description {
	margin-top: 50px;

	font-size: 18px;
	font-style: italic;
}

section.sub-section {
	margin-top: 50px;
}


/**
 *	Typography
 */

h1, h2 {
	@include bombshell;
	color: $accent-color-3;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.font-sweetpea {
	@include sweet-pea;
}

.font-bombshell {
	@include bombshell;
}


/**
 *	Lists
 */

dl.dt-text-left {
	dt {
		text-align: left;
	}
}

/**
 *	Aspect ratios
 */

// .aspect-ratio-1-1
@include makeAspectRatioClass(1,1);
// .aspect-ratio-3-2
@include makeAspectRatioClass(3,2);
// .aspect-ratio-4-3
@include makeAspectRatioClass(4,3);


/**
 * Grid classes
 */

.content-width {
	width: inherit;
}
