<section class="story-view">

	<div class="jumbo">
		<div class="jumbo" scale-to-fit-container>
			<img src="assets/imgs/example-lg.jpg" scale-to-fit="'1125:750'" />
		</div>
	</div>

	<div class="content">
		<div class="info-bubble img-circle">
			<div class="text">08/06/2016</div>
		</div>

		<h1>our story</h1>

		<div class="timeline">
			<div class="center-line hidden-xs"></div>
			<div class="row">
				<div class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>“How do you say your name again?” was the first question Andrew asked Charlene. The two from different coasts met across the world in Beijing to study Mandarin one summer.</p>
					<p>He called her the “exotic fruits girl” because she was always eating fruits and picking strange ones like ‘dragon fruit’. She knew him as the “notecards guy” who sat in front of her in class and jotting down vocabulary on notecards.</p>
					<p>Charlene and Andrew only began their friendship towards the end of the program when she was in need of a study buddy. Andrew seemed like the perfect candidate. Little did she know, he would fall asleep on numerous occasions while studying. She clearly got tricked by those stack of notecards.</p>
				</div>
				<div class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>The program ended after a two week travelling portion all over China - where Andrew and Charlene got to know one another more. Alas, they eventually had to part ways: one to sunny California, and the other to snowy cold Massachusetts. They did not think they would ever meet again.</p>
				</div>
				<div class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>One morning, Charlene received a very long email, surprisingly from Andrew. It was the start of very long email chains filled with stories, jokes and pure silliness.</p>
				</div>
				<div class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>Charlene visited Andrew in California and they officially became a couple. Andrew had every intention of asking her out the moment it was the New Year, but he missed it by 10 mins because he was struggling with the wine bottle (he has since learned how to use a bottle opener correctly). And it was the beginning of their long distance relationship.</p>
				</div>
				<div class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>Andrew visited Charlene in Boston for spring break. When he first arrived, he was expecting a heartfelt reunion, but instead what he got was a nervous wreck of a woman, avoiding eye contact with him and talking too much.</p>
				</div>
				<div class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>Charlene finally graduated from BU and was eagerly anticipating her visit to see Andrew. Meanwhile, Andrew was scrambling like a madman, trying to find a new used car to purchase so he wouldn’t have to transport Charlene around on his bike.</p>
					<p>When Charlene arrived, she got familiar with UCI, learned what this “ultimate frisbee” sport was, tasted real ramen, got acquainted with anime, and even dropped Andrew to class some days.</p>
				</div>
				<div class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>Charlene packed her bags and moved to sunny California, trading snowstorms for traffic. They continued with new adventures, new learnings, and new self discoveries in the following years.</p>
				</div>
				<div class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>Charlene spontaneously booked a weekend getaway to Cabo. Andrew was inattentive and disinterested with the planning, so Charlene assumed everything would go according to her schedule.</p>
					<p>Unbeknownst to her, Andrew had his own sneaky agenda. He expressed a great deal of knowledge of Cabo’s points of interest when they arrived, leaving Charlene surprised and baffled. One evening, Andrew whisked Charlene to a very romantic restaurant, tucked into the cliffs, overlooking the Pacific Ocean. They sat there for three hours and caught the sun set at 8:07PM (that’s right, Andrew announced the exact hour and minutes for sunset). Upon leaving the restaurant, they approached a well lit tree, decorated with colorful heart ornaments (Andrew took no part in this, but it worked in his favor). It was here that Andrew dropped down on one knee, asking for Charlene’s hand. She was left speechless, taking a few seconds before she said, “O..okay…?” Andrew was thoroughly pleased with how things turned out.</p>
				</div>
				<div class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img img-circle">
					</div>

					<p>Save the date! Andrew and Charlene will be getting hitched!</p>
				</div>
			</div>
		</div>
	</div>
</section>