@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utility.scss";

.jumbo {
	position: fixed;
	top: 0;
	min-height: 400px;
	height: 100vh;
	width: 100vw;

	// if filling width, align bottom of picture
	> img.scale-to-fit.fill-width {
		position: absolute;
		top: inherit;
		bottom: 0;
		left: 0;
		transform: none;
	}
	> .text-overlay {
		$color: #FFF;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		padding: 2em 2em 1em;

		background: rgba(0,0,0,0.2);
		color: $color;

		h1, h2 {
			color: $color;
			small {
				color: $color;
			}
		}

		.additional {
			position: relative;
			font-size: 2em;
			font-weight: 100;
			text-transform: uppercase;
			margin: 1em 0;
			> .line {
				position: absolute;
				border: 1px solid $color;
				width: 100%;
			}
		}

		.fancy {
			line-height: 0.5;
			text-align: center;

			span {
				display: inline-block;
				position: relative;

				&:before,
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					border-top: 2px solid white;
					@include translateY(50%);
				}
				&:before {
					right: 100%;
					margin-right: 15px;
				}
				&:after {
					left: 100%;
					margin-left: 15px;
				}
			}
		}
	}
}

section.story-view {
	position: relative;
	background: $bg-color;
	text-align: center;

	.content {
		$info-bubble-diameter: 150px;

		position: relative;
		margin-top: 100vh;
		padding-top: $info-bubble-diameter / 2;

		.info-bubble {
			@include circle();
			@include translate(-50%, -50%);

			position: absolute;
			top: 0;
			left: 50%;

			width: $info-bubble-diameter;
			height: $info-bubble-diameter;

			background: $accent-color-1;

			.text {
				@include verticalAlign();
				color: #FFF;
				font-size: 20px;
			}
		}

		.timeline {
			$timeline-horizontal-spacing: 20px;
			$timeline-line-width: 2px;
			$entry-img-diameter: $circle-diameter-lg;
			$entry-img-radius: $entry-img-diameter / 2;
			$entry-img-horizontal-padding: 15px;
			$entry-horizontal-padding: 60px;
			$entry-vertical-padding: 20px;

			position: relative;
			margin-top: $entry-img-radius + $timeline-horizontal-spacing;
			padding-bottom: $entry-img-radius + $timeline-horizontal-spacing;

			.center-line {
				@include horizontalAlign(absolute);

				top: 0;

				height: 100%;
				width: $timeline-line-width;

				background: $accent-color-2;

				.timeline-knob {
					@include translateX(-50%);
					position: absolute;
					left: 50%;
					bottom: -27px;

					height: 50px;
					> img {
						height: 100%;
					}
				}
			}


			.entry {
				padding-top: $entry-img-radius + $entry-vertical-padding;

				&:not(:first-child) {
					margin-top: $entry-img-radius + $entry-vertical-padding;
				}

				.entry-line {
					position: absolute;
					top: 0;

					width: 90%;
					height: $timeline-line-width;

					background: $accent-color-2;
				}

				.entry-img {
					@include circleContainer();
					@include translateY(-50%);

					position: absolute;
					top: 0;

					background: gray;
					width: $entry-img-diameter;
					height: $entry-img-diameter;

					img {
						height: 100%;
					}
				}
			}

			.entry.left {
				padding-right: $entry-horizontal-padding;
				text-align: left;
				.entry-line {
					right: 0;
				}
				.entry-img {
					left: $entry-img-horizontal-padding;
				}
			}
			.entry.right {
				padding-left: $entry-horizontal-padding;
				text-align: left;
				.entry-line {
					left: 0;
				}
				.entry-img {
					right: $entry-img-horizontal-padding;
				}
			}
		}

		.timeline {
			margin-bottom: 30px;

			#the-start {
				.entry-img img {
					@include translateX(-35px);
				}
			}
			#the-program {
				margin-top: 173px;
			}
			#the-exchanges {
				margin-top: 129px;
			}
			#the-ask {
				margin-top: 224px;
			}
			#his-visit {
				margin-top: 0px;
				.entry-img img {
					@include translateX(-20px);
				}
			}
			#her-visit {
				margin-top: 182px;
				.entry-img img {
					@include translateX(-22px);
				}
			}
			#the-move {
				margin-top: -50px;
			}
			#el-farallon {
				margin-top: 171px;
				.entry-img img {
					@include translateX(-12px);
				}
			}
			#hitched {
				margin-top: -157px;
				.entry-img img {
				}
			}
		}
	}
}