<section class="story-view">

	<div class="jumbo" scale-to-fit-container>
		<img src="assets/imgs/thunderlene1.jpg" scale-to-fit="'1140:760'" vertical-align="'bottom'" />
	</div>

	<div class="content">
		<div class="info-bubble">
			<div class="text">08/06/2016</div>
		</div>

		<h1>our story</h1>

		<div class="timeline">
			<div class="row">
				<div id="the-start" class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/dragon-fruit.jpg" />
					</div>

					<p><strong>June 21, 2009</strong></p>
					<p>“How do you say your name again?” was the first question Andrew asked Charlene. The two from different coasts met across the world in a study abroad program in Beijing one summer.</p>
					<p>He nicknamed her the “exotic fruits girl” because she was always eating strange fruits like ‘dragon fruit’. She knew him as the “notecards guy”, who sat in front of her in class, always jotting down vocabulary on notecards.</p>
					<p>They only became friends when Charlene was in need of a study buddy. Andrew seemed like the perfect candidate. Little did she know, he would fall asleep on numerous occasions while studying. She was clearly deceived by those well written notecards.</p>
				</div>
				<div id="the-program" class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/xian.jpg" />
					</div>

					<p><strong>August 10, 2009</strong></p>
					<p>After final exams, Charlene and Andrew travelled all over China, as part of the program's two week travelling portion. Through long bus rides and countless landmarks, they got to learn more about one another.</p>
					<p>After the last group dinner, they had to finally part ways: one to sunny California, and the other to snowy cold Massachusetts. They did not think they would ever meet again.</p>
				</div>
				<div id="the-exchanges" class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/bday-cow.jpg" />
					</div>

					<p><strong>August 2009</strong></p>
					<p>One morning, Charlene received an email, surprisingly from Andrew. He greeted her and asked her what she was up to. This was the beginning of many long email chains filled with stories, jokes and pure silliness.</p>
				</div>
				<div id="the-ask" class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/2010.jpg" />
					</div>

					<p><strong>January 01, 2010 12:10AM</strong></p>
					<p>Charlene visited California to join a snowboard trip with friends from the summer program. On Jan 1st, Andrew asked Charlene to be his girlfriend. He had every intention to time the question at the turn of the New Year, but he missed it by 10 mins because he was struggling with the wine bottle <em>(he has since learned how to use a bottle opener correctly)</em>.</p>
					<p>And this was the beginning of their long distance relationship.</p>
				</div>
				<div id="his-visit" class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/boston.jpg" />
					</div>

					<p><strong>March 19, 2010</strong></p>
					<p>Andrew visited Charlene in Boston for spring break. When he first arrived, he was expecting a heartfelt reunion, but instead what he got was a nervous wreck of a woman, avoiding eye contact with him and talking too much.</p>
				</div>
				<div id="her-visit" class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/us-1.jpg" />
					</div>

					<p><strong>May 18, 2010</strong></p>
					<p>Charlene finally graduated from BU and was eagerly anticipating her visit to see Andrew. Meanwhile, Andrew was scrambling like a madman, trying to find a new used car to purchase so he wouldn’t have to transport Charlene around on his bike.</p>
					<p>When Charlene arrived, she tried real legit ramen, learned what "ultimate frisbee" was, got acquianted with anime, and familiarized herself with UCI so she could drop Andrew to class on some days.</p>
				</div>
				<div id="the-move" class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/palm-trees.jpg" />
					</div>

					<p><strong>September 22, 2010</strong></p>
					<p>Charlene packed her bags and moved to sunny California, trading snowstorms for traffic. There, she joined a startup company in Santa Monica and enjoyed her one hour drive to see Andrew in Irvine <em>(as opposed to a 6 hour plane ride)</em>.</p>
					<p>They continued to build their relationship with new adventures and new self discoveries in the following years.</p>
				</div>
				<div id="el-farallon" class="entry right col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/el-farallon.jpg" />
					</div>

					<p><strong>May 22, 2015 - THE PROPOSAL</strong></p>
					<p>Charlene spontaneously booked a weekend getaway to Cabo, Mexico. Andrew was inattentive and disinterested with the planning, so Charlene assumed everything would go according to her schedule.</p>
					<p>Unbeknownst to her, Andrew had his own sneaky agenda. He expressed a great deal of knowledge of Cabo’s points of interest when they arrived, leaving Charlene surprised and baffled. One evening, Andrew whisked Charlene to a very romantic restaurant, tucked into the cliffs, overlooking the Pacific Ocean. They sat there for three hours and caught the sun set at 8:07PM <em>(that's right,Andrew announced the exact sunset time)</em>.</p>
					<p>Upon leaving the restaurant, they approached a well lit tree, decorated with colorful heart ornaments <em>(Andrew took no part in this, but it worked in his favor)</em>. It was here that Andrew dropped down on one knee, asking for Charlene’s hand. She was left speechless, caught in a surreal moment. She finally managed to say, “Yes…?” Andrew was thoroughly pleased with how things turned out.</p>
				</div>
				<div id="hitched" class="entry left col-sm-6">
					<div class="entry-line"></div>
					<div class="entry-img">
						<img src="assets/imgs/story/us-3.jpg" />
					</div>

					<p><strong>August 06, 2016</strong></p>
					<p>Save the date! Andrew and Charlene will be getting hitched in Camarillo, CA!</p>
				</div>
			</div>
			<div class="center-line hidden-xs">
				<div class="timeline-knob">
					<img src="assets/imgs/story/flower.png" />
				</div>
			</div>
		</div>
	</div>
</section>