@import "../../assets/styles/variables.scss";
@import "../../assets/styles/utility.scss";

section.story-view {
	text-align: center;

	.jumbo {
		position: relative;
		height: 400px;
		> img {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	.content {
		$info-bubble-diameter: 150px;

		position: relative;
		padding-top: $info-bubble-diameter / 2;

		.info-bubble {
			@include circle();
			@include translate(-50%, -50%);

			position: absolute;
			top: 0;
			left: 50%;

			width: $info-bubble-diameter;
			height: $info-bubble-diameter;

			background: $accent-color-1;

			.text {
				@include verticalAlign();
				color: #FFF;
				font-size: 20px;
			}
		}

		.timeline {
			$timeline-horizontal-spacing: 20px;
			$timeline-line-width: 2px;
			$entry-img-diameter: $circle-diameter-lg;
			$entry-img-radius: $entry-img-diameter / 2;
			$entry-img-horizontal-padding: 15px;
			$entry-horizontal-padding: 60px;
			$entry-vertical-padding: 20px;

			position: relative;
			margin-top: $entry-img-radius + $timeline-horizontal-spacing;
			padding-bottom: $entry-img-radius + $timeline-horizontal-spacing;

			.center-line {
				@include horizontalAlign(absolute);

				top: 0;

				height: 100%;
				width: $timeline-line-width;

				background: $accent-color-2;

				.heart {
					@include translateX(-50%);
					position: absolute;
					left: 50%;
					bottom: 0;
				}

				.heart {
					$color: red;
					$width: 30px;
					$height: 40px;
					.top-left, .top-right {
						@include translateY(-70%);
						border-top-left-radius: 50%;
						border-top-right-radius: 50%;
						background: $color;
						width: $width;
						height: $width;
						top: 0;
					}
					.top-left {
						position: absolute;
						left: 0;
						border-bottom-left-radius: 20px;
					}
					.top-right {
						position: absolute;
						right: 0;
						border-bottom-right-radius: 20px;
					}
					.bottom {
						border-top: $height solid $color;
						border-left: $width solid transparent;
						border-right: $width solid transparent;
						border-top-left-radius: 2px;
						border-top-right-radius: 2px;
					}
				}
			}

			.entry {
				padding-top: $entry-img-radius + $entry-vertical-padding;

				&:not(:first-child) {
					margin-top: $entry-img-radius + $entry-vertical-padding;
				}

				.entry-line {
					position: absolute;
					top: 0;

					width: 90%;
					height: $timeline-line-width;

					background: $accent-color-2;
				}

				.entry-img {
					@include circleContainer();
					@include translateY(-50%);

					position: absolute;
					top: 0;

					background: gray;
					width: $entry-img-diameter;
					height: $entry-img-diameter;

					img {
						height: 100%;
					}
				}
			}

			.entry.left {
				padding-right: $entry-horizontal-padding;
				text-align: left;
				.entry-line {
					right: 0;
				}
				.entry-img {
					left: $entry-img-horizontal-padding;
				}
			}
			.entry.right {
				padding-left: $entry-horizontal-padding;
				text-align: left;
				.entry-line {
					left: 0;
				}
				.entry-img {
					right: $entry-img-horizontal-padding;
				}
			}
		}

		.timeline {
			#dragon-fruit {
				@include translateX(-35px);
			}
			#andrew-1 {
				transform: scale(1.1);
			}
			#us-1 {
				@include translateX(-22px);
			}
			#el-farallon {
				@include translateX(-12px);
			}
			#hitched {
				@include translate(-100px, -73px);
				height: initial;
			}
		}
	}
}